@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

h4, h3, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border-radius: 6px;
    padding: 0 30px;
    text-transform: uppercase;
    border-width: 0px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/* HEADER */
header {
    background-color: #212121;
    position: sticky;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
}

.header_nav_ul {
    margin: 0;
    padding: 11px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_nav_ul li {
    display: flex;
    align-items: center;
}
/* HEADER */



/* HEADER INFO */
.header_info {
    background: url('../img/uber_bg.png') 50% 50%/cover no-repeat;
    width: 100%;
    padding: 0 0 100px 0;
}

.header_info_bd {
    display: flex;
    align-items: center;
    height: 92px;
    background-color: rgba(0, 0, 0, 0.7);
}

.header_info_top_block_img {
    display: block;
}

.header_info_top_block_title {
    padding: 7px 0 0 0;
    font-size: 13px;
    color: white;
    font-weight: 200;
}

.header_info_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 61px 0 26px;
}

.header_info_top_block2 {
    display: flex;
    align-items: center;
}

.header_info_top_block_phoneTitle {
    margin: 5px 0 0 0;
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 300;
}

.header_info_top_block_phoneNumber {
    font-size: 22px;
    text-transform: uppercase;
}

.header_info_top_block_button {
    padding: 10px 25px;
    margin: 0 0 0 23px;
}
/* HEADER_INFO */



/* HEADER_INFO_TEXT */
.header_info_text {
    margin: 0 auto;
}

.header_info_text h1,
.header_info_text h2,
.header_info_text p {
    text-align: center;
}

.header_info_text h1 {
    margin: 70px 0 0 0;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.header_info_text h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.header_info_text p {
    padding: 5px 0;
    font-size: 18px;
}

.header_info_text button {
    padding: 15px 25px;
    display: block;
    margin: 140px auto 0 auto;
}
/* HEADER_INFO_TEXT */


/* ADVANTAGER */
.advantages {
    margin: 25px 0 0 0;
}

.advantages h3 {
    text-align: center;
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
}

.advantages h3 span {
    padding: 5px 10px;
    background-color: #000;
}

.advantages h4 {
    margin: 33px 0 0 0;
    text-align: center;
    color: #222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages_content {
    margin: 0 -55px 0 0;
}

.advantages_content_block {
    display: flex;
    align-items: start;
    flex: 1 1 50%;
    padding: 0 55px 0 0;
    margin: 30px 0 0 0;
}

.advantages_content_block_img {
    margin: 16px 25px 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 120px;
    background-color: #1EACC7;
    border-radius: 50%;
}

.advantages_content_block img {
    display: block;
    margin: 0 auto;
}

.advantages_content_block_text h5 {
    color: #1EACC7;
    font-size: 17px;
    font-weight: 300;
}

.advantages_content_block_text p {
    color: #202020;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}

/* ADVANTAGER */


/* MOBILE */
.mobile h3,
.mobile h4,
.mobile p {
    text-align: center;
    color: black;
}

.mobile {
    background: url('../img/mobile_bg.png') 50% 50%/cover no-repeat;
    padding: 0 0 80px 0;
}

.mobile h3 {
    margin: 50px 0 33px 0;
    padding: 50px 0 0 0;
}

.mobile h3 span {
    padding: 5px 10px;
    background-color: black;
    font-size: 11px;
    text-transform: uppercase;
}

.mobile h4 {
    margin: 0;
    color: #222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.mobile p {
    margin: 0;
    color: #222;
    text-align: center;
    font-size: 17px;
}

.mobile_row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.mobile_block {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
    flex: 0 0 30%;
}

.mobile_block_1 {
    background: url('../img/cards/card_1.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_2 {
    background: url('../img/cards/card_2.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_3 {
    background: url('../img/cards/card_3.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_4 {
    background: url('../img/cards/card_4.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_5 {
    background: url('../img/cards/card_5.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_6 {
    background: url('../img/cards/card_6.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_row_text {
    margin: 40px 0 0 0;
    color: white;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 400;
}

.mobile_row_link {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
}

.mobile_row_link img {
    display: block;
    margin: 0 auto;
    align-self: center;
}
/* MOBILE */


/* CAR_TOP */
.car_top h3,
.car_top h4,
.car_top p {
    text-align: center;
    color: white;
}

.car_top h3 {
    padding: 50px 0 0 0;
}

.car_top h3 span {
    padding: 5px 10px;
    background-color: white;
    color: black;
    font-size: 11px;
    text-transform: uppercase;
}

.car_top h4 {
    padding: 0;
    margin: 27px 0 0 0;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.car_top p {
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.car_top {
    height: 500px;
    background-color: black;
}

.car_top img {
    position: relative;
    padding: 54px 0 0 0;
    display: block;
    margin: 0 auto;
}
/* CAR_TOP */


/* CAT_BOT */
.car_bot {
    width: 100%;
    height: 400px;
    background: url('../img/mobile_bg.png') 50% 50%/cover no-repeat;
}



.car_bot_text {
    padding: 200px 0 0 0;
    color: #222;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
}
/* CAT_BOT */


/* CONDITION */
.condition span,
.condition h3,
.condition h4 {
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}

.condition h3 {
    margin-top: 68px;
}

.condition h4 {
    padding: 30px 0 33px 0;
    color: #222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.condition span {
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-size: 11px;
    font-weight: 400;
}

.condition_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.condition_block {
    flex: 0 0 50%;
    color: #1CA8C3;
}

.condition_block ul {
    padding: 10px 0 0 13px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.condition_block li {
    margin: 0 0 5px 0;
    display: flex;
}

.condition_block li p {
    margin: 0 0 0 10px;
    color: #1CA8C3;
    font-size: 17px;
    font-weight: 300;
}

.condition_block_text {
    color: #1CA8C3;
    font-size: 17px;
    font-weight: 300;
}

.red_block {
    margin-top: 60px;
}

.red_block h5 {
    color: #FF5656;
    font-size: 22px;
    font-weight: 400;
}

.red_block ul li p {
    color: #222;
    font-size: 17px;
    font-weight: 300;
}
/* CONDITION */


/* CITY */
.city {
  background-color: rgb(8, 8, 17);
}

.map {
    width: 1440px;
    height: 716px;
    margin: 0 auto;
    background: url('../img/world_bg.png') 50% 50%/cover no-repeat;
}

.map h3,
.map h4,
.map p,
.map h5 {
    text-align: center;
}

.city h3 {
    margin: 90px 0 0 0;
    padding: 50px 0 0 0;
}

.city h3 span {
    padding: 5px 10px;
    background-color: white;
    color: black;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.city h4 {
    margin: 26px 0 0 0;
    color: #FFF;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.city p {
    color: #FFF;
    font-size: 17px;
}

.city_footer {
    display: block;
    margin: 0 auto;
    padding: 0 0 80px 0;
    position: relative;
    top: 450px;
    color: #1FBAD6;;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 5px solid #1FBAD6;
    width: 300px;
}
/* CITY */

/* FOOTER */
footer {
    padding: 53px 21px 45px 23px;
    display: flex;
    flex: 1 0 33%;
    justify-content: space-between;
}

.block_socialMedia {
    display: flex;
}

.block_socialMedia_link {
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: black;
}

.block_socialMedia_link img {
    display: block;
    width: 50%;
}

.block_text_line {
    display: flex;
    justify-content: space-between;
}

.block_links {
    display: flex;
}

.block_text_line h2,
.block_text_line h3,
.block_text_line h4 {
    color: black;
} 

.block_text {
    padding-left: 120px;
    width: 600px;
}

.block_text_line h2 {
    padding: 0 10px;
    color: #070716;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}

.block_text_line h3 {
    padding: 10px 0 0 0;
    color: #999;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.block_text_line a {
    margin: 0 auto;
}

.block_text_line h4 {
    padding: 10px 0 0 0;
    display: block;
    margin: 0 auto;
    color: #1FBAD6;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.block_links_link img {
    width: 90px;
    height: 30px;
}

/* FOOTER */