@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    border-radius: 6px;
    padding: 0 30px;
    text-transform: uppercase;
    border-width: 0px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: #212121;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header_nav_ul {
    margin: 0;
    padding: 11px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_nav_ul li {
    display: flex;
    align-items: center;
}
/* HEADER */



/* HEADER INFO */
.header_info {
    background: url('../img/uber_bg.png') 50% 50%/cover no-repeat;
    width: 100%;
    padding: 0 0 100px 0;
}

.header_info_bd {
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    height: 87px;
    background-color: rgba(0, 0, 0, 0.7);
}

.header_info_top_block_img {
    display: block;
}

.header_info_top_block_title {
    padding: 7px 0 0 0;
    font-size: 13px;
    color: white;
    font-weight: 200;
}

.header_info_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 61px 0 26px;
}

.header_info_top_block2 {
    display: flex;
    align-items: center;
}

.header_info_top_block_phoneTitle {
    margin: 5px 0 0 0;
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 300;
}

.header_info_top_block_phoneNumber {
    font-size: 22px;
    text-transform: uppercase;
}

.header_info_top_block_button {
    padding: 10px 25px;
    margin: 0 0 0 23px;
}
/* HEADER_INFO */



/* HEADER_INFO_TEXT */
.header_info_text {
    margin: 0 auto;
}

.header_info_text h1,
.header_info_text h2,
.header_info_text p {
    text-align: center;
}

.header_info_text h1 {
    margin: 70px 0 0 0;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.header_info_text h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.header_info_text p {
    padding: 5px 0;
    font-size: 18px;
}

.header_info_text button {
    padding: 15px 25px;
    display: block;
    margin: 140px auto 0 auto;
}
/* HEADER_INFO_TEXT */


/* ADVANTAGER */
.advantages {
    margin: 25px 0 0 0;
}

.advantages h3 {
    text-align: center;
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
}

.advantages h3 span {
    padding: 5px 10px;
    background-color: #000;
}

.advantages h4 {
    margin: 33px 0 0 0;
    text-align: center;
    color: #222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages_content {
    margin: 0 -55px 0 0;
}

.advantages_content_block {
    display: flex;
    align-items: start;
    flex: 0 1 50%;
    padding: 0 55px 0 0;
    margin: 30px 0 0 0;
}

.advantages_content_block_img {
    margin: 16px 25px 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 120px;
    background-color: #1EACC7;
    border-radius: 50%;
}

.advantages_content_block img {
    display: block;
    margin: 0 auto;
}

.advantages_content_block_text h5 {
    color: #1EACC7;
    font-size: 17px;
    font-weight: 300;
}

.advantages_content_block_text p {
    color: #202020;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}

/* ADVANTAGER */


/* MOBILE */
.mobile h3,
.mobile h4,
.mobile p {
    text-align: center;
    color: black;
}

.mobile {
    background: url('../img/mobile_bg.png') 50% 50%/cover no-repeat;
    padding: 0 0 80px 0;
}

.mobile h3 {
    margin: 50px 0 33px 0;
    padding: 50px 0 0 0;
}

.mobile h3 span {
    padding: 5px 10px;
    background-color: black;
    font-size: 11px;
    text-transform: uppercase;
}

.mobile h4 {
    margin: 0;
    color: #222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.mobile p {
    margin: 0;
    color: #222;
    text-align: center;
    font-size: 17px;
}

.mobile_row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.mobile_block {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
    flex: 0 0 30%;
}

.mobile_block_1 {
    background: url('../img/cards/card_1.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_2 {
    background: url('../img/cards/card_2.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_3 {
    background: url('../img/cards/card_3.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_4 {
    background: url('../img/cards/card_4.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_5 {
    background: url('../img/cards/card_5.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_block_6 {
    background: url('../img/cards/card_6.png') 50% 50%/cover no-repeat;
    margin: 30px 0 0 0;
}

.mobile_row_text {
    margin: 40px 0 0 0;
    color: white;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 400;
}

.mobile_row_link {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
}

.mobile_row_link img {
    display: block;
    margin: 0 auto;
    align-self: center;
}
/* MOBILE */